li = link_to "#{t(:activePDF)}.com", "http://activePDF.com", target: "_blank"
li = link_to "Online Manuals", "http://www.activepdf.com/support/documentlinks", target: "_blank"
li = link_to "Knowledgebase", "http://www.activepdf.com/support/knowledgebase", target: "_blank"
li = link_to "Support", "http://support.activepdf.com", target: "_blank"
/ li = link_to "Portal live demo", "http://portal.activepdf.com", target: "_blank"
